/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.image-card-item {
	max-width: 33%;
	width: 100%;

	.image-card-background {
		background-color: darkgray;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 2rem;

		h3 {
			color: white;
			font-family: sans-serif;
			font-size: 28px;
			font-weight: bold;

			span {
				background-color: red;
				padding: 8px 0;
			}
		}
	}
}
